node_modules
.next
out
.env
.env.local
.env*.local
.env.production
.env.production.local
.vercel
*.log
.DS_Store
prisma/*.db

# next-pwa generated service worker
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map
public/fallback-*.js
